/* RESET AND LAYOUT */
.bxslider-default{overflow:hidden}
.bx-wrapper{position:relative;margin:0 auto;padding:0}
.bx-wrapper img{max-width:100%;display:inline-block;*display:inline;*zoom:1}
/* THEME */
.bx-wrapper .bx-viewport{-webkit-transform:translatez(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0)}
.bx-wrapper .bx-viewport .bxslider li{left:0}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto{position:absolute;bottom:0px}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-direction{z-index:51}
/* LOADER */
.bx-wrapper .bx-loading{min-height:50px;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000}
/* PAGER */
.bx-wrapper .bx-pager {text-align:center;font-size:.85em;font-family:Arial;font-weight:bold;color:#666;padding-top:20px}
div#adslide .bx-wrapper .bx-pager{font-size:12px}
div#csadslide .bx-wrapper .bx-pager{padding:10px; !important}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom:1;*display:inline}
.bx-wrapper .bx-pager.bx-default-pager a{text-indent:-9999px;display:block;width:10px;height:10px;margin:0 3px 0 3px;outline:0;font-size:0;background-image:url("/images/champstudy/common/button2.png");background-position:0 -266px}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active{background-position:-15px -266px}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev{left:10px}
.bx-wrapper .bx-next{right:10px}
.bx-wrapper .bx-prev:hover{background-position:0 0}
.bx-wrapper .bx-next:hover{background-position:-43px 0}
.bx-wrapper .bx-controls-direction a{position:absolute;top:50%;margin-top:-16px;outline:0;width:32px;height:32px;text-indent:-9999px;z-index:9}
.bx-wrapper .bx-controls-direction a.disabled{display: none}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto{text-align:center}
.bx-wrapper .bx-controls-auto .bx-start {display:block;text-indent:-9999px;width:10px;height:11px;outline:0;margin: 0 3px}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active{background-position:-86px 0}
.bx-wrapper .bx-controls-auto .bx-stop{display:block;text-indent:-9999px;width:9px;height:11px;outline:0;margin:0 3px}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active{background-position: -86px -33px}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left;width:80%}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;background:#666\9;background:rgba(80, 80, 80, 0.75);width:100%}
.bx-wrapper .bx-caption span{color:#fff;font-family:Arial;display:block;font-size:.85em;padding:10px}
.bx-controls-auto{display:none}
.bxslider-btn-skin1 .bx-controls-direction a{margin-top:0}
.bxslider-btn-skin1 .bx-controls-direction{position:absolute;bottom:25px;right:0}
.bxslider-btn-skin1 .bx-controls-direction .bx-prev{left:-51px;width:25px;height:25px;background-image:url("/images/champstudy/common/button2.png");background-position:0 -236px}
.bxslider-btn-skin1 .bx-controls-direction .bx-next{left:-25px;width:25px;height:25px;background-image:url("/images/champstudy/common/button2.png");background-position:-26px -236px}

/* bxslider 공통 */
.bxslider-default{position:relative;}
.bx-wrapper{margin:0 auto;}
/* 슬라이드 버튼 */
.bxslider-default .bx-controls-direction{display:block}
.bxslider-default .bx-controls-direction a{width:50px;height:50px;font-size:0;overflow:hidden}
/* data-controls */
.bx-wrapper .bx-controls-direction a{margin-top:-45px}

/* 슬라이드 페이징 */
.bxslider-default .bx-controls{padding-top:0;width:100%}
.bxslider-default .bx-controls .bx-pager{position:absolute;width:100%;z-index:52;bottom:10px;left:0;text-align:right;}
.bxslider-default .bx-controls .bx-controls-direction{position:absolute;width:100%;left:0;top:50%}
.ie7 .bxslider-default .bx-pager{zoom:1}
.bxslider-default .bx-pager:after{content:'';clear:both;display:block}
.bxslider-default .bx-pager .bx-pager-item{margin-right:5px;display:inline-block}
.ie7 .bxslider-default .bx-pager .bx-pager-item{display:inline;zoom:1}

.bxslider-default .bx-pager .bx-pager-item a {margin:0;width:11px;height:11px;font-size:0;display:block;background:url('http://img.hackershrd.com/common/rolling_btn.png');cursor:pointer}
.bxslider-default .bx-pager .bx-pager-item a:hover,
.bxslider-default .bx-pager .bx-pager-item a.bx-pager-link.active{background-position:-13px 0}
.bxslider li img{width:100%;}